.cart-link {
    text-decoration: none;
    color: inherit;
}

.cart-detail {
    border: 1px solid #a8a4a4;
    width: 90vw;
    height: 60vh;
    margin-bottom: 5vh;
    cursor: pointer;
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;

    animation-name: show;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-timeline: --revealing-image;

    animation-range: entry 25% cover 50%;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.cart-detail {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 25%;
}

.cart-poster {
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: aqua;
}

.cart-text-detail {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 65% auto;
    grid-template-rows: auto auto auto auto;
}

.cart-origin {
    margin-top: 2vw;
    margin-left: 2vw;
    font-size: 1rem;
    color: #a8a4a4;
}

.cart-year {
    grid-row: 1/2;
    margin-left: 2vw;
}

.cart-name {
    grid-row: 2/3;
    font-size: 1.5rem;
    margin-left: 2vw;
}

.cart-genre {
    grid-row: 3/4;
    margin-left: 2vw;
    font-size: 1rem;
    color: #a8a4a4;
}

.cart-score-dasboard {
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    background-color: #20bff1;
    place-self: center;
}

.cart-score {
    font-size: 2rem;
    font-weight: bold;
}
